@font-face{font-family:letra1;src:url(../fuentes/letra1.ttf)}
@font-face{font-family:letra2;src:url(../fuentes/letra2.TTF)}
@font-face{font-family:letra4;src:url(../fuentes/letra4.ttf)}
@font-face{font-family:letra5;src:url(../fuentes/letra5.ttf)}
@font-face{font-family:letra8;src:url(../fuentes/letra8.TTF)}
@font-face{font-family:letra20;src:url(../fuentes/letra20.ttf)}
@font-face{font-family:letra25;src:url(../fuentes/letra25.ttf)}
@font-face{font-family:letra26;src:url(../fuentes/letra26.ttf)}
@font-face{font-family:letra35;src:url(../fuentes/letra35.ttf)}
@font-face{font-family:letra36;src:url(../fuentes/letra36.ttf)}
@font-face{font-family:letra37;src:url(../fuentes/letra37.ttf)}
@font-face{font-family:letra46;src:url(../fuentes/letra45.ttf)}
@font-face{font-family:letra51;src:url(../fuentes/letra51.ttf)}
@font-face{font-family:letra52;src:url(../fuentes/letra52.ttf)}
@font-face{font-family:letra53;src:url(../fuentes/letra53.ttf)}
@font-face{font-family:letra54;src:url(../fuentes/letra54.ttf)}
@font-face{font-family:letra55;src:url(../fuentes/letra55.ttf)}
@font-face{font-family:letra58;src:url(../fuentes/letra58.ttf)}
